<launch>
<rosparam file="$(find vroom_localization)/config/params.yaml" command="load"/>



 <node pkg="vroom_localization" name="tcp_server" type="server_endpoint.py" output="screen">
 </node>


 <include file="$(find zed_wrapper)/launch/zedm.launch" />


 <node pkg="cantoros" name="CanBusNode" type="cantoros_main.py"/>


</launch>
