<launch>
  <!-- Start the MTI IMU -->
  <node  name="xsens_mti_node" pkg="xsens_mti_driver" type="xsens_mti_node" output="screen">
      <rosparam command="load" file="$(find vroom_localization)/params/xsens_mti_node.yaml" />
  </node>

 <!--  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >-->
   <!--   <arg name="bson_only_mode" value="True"/>-->
 <!--  </include>-->

  <include file="$(find ouster_ros)/os1.launch" >
     <arg name="os1_hostname" value="os-122109000688.local"/>
     <arg name="os1_udp_dest" value="192.168.1.26"/>
     <arg name="lidar_mode" value="1024x20"/>
     <arg name="timestamp_mode" value="TIME_FROM_PTP_1588"/>
     <!--<arg name="tf_prefix" value=""/> -->
  </include>


  <!-- Start the transform nodes -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="os1_sensor_frame" args="-1.5 0 -0.25 0 0 0 1 /base_link  /os1_sensor" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="xsens_IMU_frame" args="0 0 0 0 0 0 1 /base_link  /xsens" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="can_frame" args="-1.4 0 -0.25 0 0 0 1 /base_link /canbuslink" />
  <node pkg="cantoros" name="CanBusNode" type="cantoros_main.py"/>

</launch>
