<launch>
  <!-- Start the MTI IMU -->
<!-- <arg name="os1_udp_dest" value="$(ifconfig eth0 | grep 'inet' | cut -d: -f2| awk '{print $2}')"/> -->
  <include file="$(find ouster_ros)/os1.launch" >
     <arg name="os1_hostname" value="os-122109000688.local"/>
     <arg name="os1_udp_dest" value="192.168.1.26"/>
     <arg name="lidar_mode" value="512x20"/>
     <arg name="timestamp_mode" value="TIME_FROM_PTP_1588"/>
  </include>

</launch>
